.DS_Store

/cmake-build-debug/

# Sample Test Case
test1.o
test1.trace
test2.o
test2.trace
test3.o
test3.trace

# 테스트 케이스
testcase1.o
testcase1.trace
testcase2.o
testcase2.trace
testcase3.o
testcase3.trace
testcase4.o
testcase4.trace
testcase5.o
testcase5.trace
testcase6.o
testcase6.trace
testcase7.o
testcase7.trace

testcase8-1.o
testcase8-1.trace
testcase8-2.o
testcase8-2.trace
testcase8-3.o
testcase8-3.trace